/* Main */
html{
    scroll-behavior: smooth;
}

body {
margin: auto;
}

main {
    width: auto;
    height: auto;
    justify-content: center;
}

/* Carrossel  */
.gallery {
    height: 90vh;
    /* padding-bottom: 10px; */
}

.item {
    height: auto;
}

.img-banner {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    margin-bottom: 0;
    border: 0;
    padding: 0;

}
